[run]
branch = True
omit =
    */apps.py,
    */urls.py,
    **/migrations/*.py,
    **/tests/**/*.py,
    panic/config/environments/*.py,
    panic/manage.py,
    panic/root/asgi.py,
    panic/root/tests_integration/*.py,
    panic/root/urls/*.py
    panic/root/wsgi.py,
source = panic

[report]
precision = 1
show_missing = True
ignore_errors = True
exclude_lines = nocover
